.scheduler-page {
    .container {
        width: 100%;
        max-width: 100%;
    }

    .body-content {
        padding: 0;
    }
}

#scheduler {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    border-width: 0;
}

#event-owners {
    height: 21px;

    li {
        padding: 6px 32px;
        margin-right: 0;
        list-style: none;
        color: white;
    }

    padding: 0;
}

.event-owners-list-page {
    .color-display {
        //background-color:attr(data-color color);
        color: white;
    }
}

.shadow {
    -webkit-box-shadow: 12px 12px 7px -9px rgba(0,0,0,0.57);
    -moz-box-shadow: 12px 12px 7px -9px rgba(0,0,0,0.57);
    box-shadow: 12px 12px 7px -9px rgba(0,0,0,0.57);
}

.text-shadow {
    //background-color: rgb(120, 120, 120);
    text-shadow: rgb(3, 3, 3) 2px 0 2px;
}


.styles-k-event() {
    .border-sizing();
    background: none;
    height: 23px;
    border: none;
    border-radius: unset;
}

.k-event, .k-event-inverse {
    .styles-k-event() !important;
}

@row-height: 240px;
@comoon-row-height: 15px;
@table-width: 310%;

.row-height(@height: 180px) {
    height: @height !important;
}

.width-important(@width: 26px) {
    width: @width !important;
}

.border-sizing() {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.k-scheduler-timelineview {
    .border-sizing;

    tr:nth-child(1) {
        //headers
        td {
            border-top: 2.5px solid #c5c5c5;

            &:nth-child(1) {
                //left side
            }

            &:nth-child(2) {
                //right side
                .k-scheduler-table {
                    width: @table-width !important;

                    tr {
                        &:nth-child(1) {
                            //date
                            background-color: gray;
                            border-style: solid;
                            border-width: 0 0 3px 2px;
                            color: white;
                            //text-align:center;
                        }

                        &:nth-child(2) {
                            //time
                            th {
                                background-color: #4797cc;
                                border: none;
                                border-right: 2px solid #c5c5c5;
                                color: white;
                                width: 100px;
                            }
                        }
                    }
                }
            }
        }
    }

    tr:nth-child(2) {
        //content part
        .k-scheduler-times {
            .row-height(auto);

            .k-scheduler-table {
                //.row-height(auto);
                /*tr:nth-child(2n+2) th {
                    background: #f8f8f8;
                }*/
                tr {
                    border: #909090;
                    // left side content
                    //.row-height(15px);
                }
                /*tr:hover th {
                    background-color: #eaeaea;
                }*/
            }
        }



        .k-scheduler-content {
            .k-scheduler-table {
                // right side content area
                .row-height(auto);
                width: @table-width !important;

                tr {
                    // right side
                    //.row-height(@comoon-row-height);
                    td {
                        // content cell
                        //.width-important(12px);
                        //.row-height(23px);
                    }
                }

                td {
                    background: white;
                }

                tr:hover td {
                    background-color: #eaeaea;
                }

                .k-today {
                    width: 2px !important;
                }
            }
        }
    }

    th.active {
        background-color: greenyellow;
    }
}


.k-scheduler-table {
    //table-layout: unset;
    //max-width: 100%;
}
/*.k-scheduler-times {
    tr {
        height: 24px !important;
    }
}*/

.event-box {
    height: 75%;
    border: 1px solid black !important;

    &.orange {
        background-color: rgb(246, 131, 36);
    }

    &.blue {
        background-color: rgb(65, 123, 173);
    }

    &.violet {
        background-color: rgb(114, 87, 146);
    }

    &.red-border {
        border: 2px solid red !important;
    }
}

/*.k-header {
    display: none;
}*/



/*.k-scheduler-header.k-state-default {
    .k-scheduler-header-wrap {
        .k-scheduler-table {
            tr {
                th {
                    width: 36px;
                }
            }
        }
    }
}*/
