@{
    ViewBag.Title = "Index";
}

<h2>Type your gmail account:</h2>
<hr />
@using (Html.BeginForm("Index", "Scheduler", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-2">@Html.Label("Email Address", new { @class = "control-label" })</div>
        <div class="col-md-10">
            @Html.TextBox("userEmailAdress", "", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Get Calender Data" />
        </div>
    </div>
}

