@{
    ViewBag.Title = "Schedule";
    ViewBag.pageClass = "scheduler-page";
}
@*<h2>Events names :</h2>
    <ul>
        @if (events != null) {
            foreach (var item in events) {
                <li>
                    @{
                when = item.Start.DateTime.ToString();
                if (String.IsNullOrEmpty(when)) {
                    when = item.Start.Date;
                }
                string title = item.Summary;

                    }
                    title : @title,
                    time : @when
                </li>
            }
        }
    </ul>*@

<ul id="event-owners"></ul>
<div id="scheduler" class="k-content">
</div>

<script id="event-template" type="text/x-kendo-template">
    <div class="event-box #= color # #= borderClass #">
        <div>
            <p>#: kendo.toString(start, "hh:mm") # - #: kendo.toString(end, "hh:mm") # #= title #</p>
        </div>
    </div>
</script>
