.scheduler-page .container {
  width: 100%;
  max-width: 100%;
}
.scheduler-page .body-content {
  padding: 0;
}
#scheduler {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  border-width: 0;
}
#event-owners {
  height: 21px;
  padding: 0;
}
#event-owners li {
  padding: 6px 32px;
  margin-right: 0;
  list-style: none;
  color: white;
}
.event-owners-list-page .color-display {
  color: white;
}
.shadow {
  -webkit-box-shadow: 12px 12px 7px -9px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 12px 12px 7px -9px rgba(0, 0, 0, 0.57);
  box-shadow: 12px 12px 7px -9px rgba(0, 0, 0, 0.57);
}
.text-shadow {
  text-shadow: #030303 2px 0 2px;
}
.k-event,
.k-event-inverse {
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  background: none !important;
  height: 23px !important;
  border: none !important;
  border-radius: unset !important;
}
.k-scheduler-timelineview {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.k-scheduler-timelineview tr:nth-child(1) td {
  border-top: 2.5px solid #c5c5c5;
}
.k-scheduler-timelineview tr:nth-child(1) td:nth-child(2) .k-scheduler-table {
  width: 310% !important;
}
.k-scheduler-timelineview tr:nth-child(1) td:nth-child(2) .k-scheduler-table tr:nth-child(1) {
  background-color: gray;
  border-style: solid;
  border-width: 0 0 3px 2px;
  color: white;
}
.k-scheduler-timelineview tr:nth-child(1) td:nth-child(2) .k-scheduler-table tr:nth-child(2) th {
  background-color: #4797cc;
  border: none;
  border-right: 2px solid #c5c5c5;
  color: white;
  width: 100px;
}
.k-scheduler-timelineview tr:nth-child(2) .k-scheduler-times {
  height: auto !important;
}
.k-scheduler-timelineview tr:nth-child(2) .k-scheduler-times .k-scheduler-table {
  /*tr:nth-child(2n+2) th {
                    background: #f8f8f8;
                }*/
  /*tr:hover th {
                    background-color: #eaeaea;
                }*/
}
.k-scheduler-timelineview tr:nth-child(2) .k-scheduler-times .k-scheduler-table tr {
  border: #909090;
}
.k-scheduler-timelineview tr:nth-child(2) .k-scheduler-content .k-scheduler-table {
  height: auto !important;
  width: 310% !important;
}
.k-scheduler-timelineview tr:nth-child(2) .k-scheduler-content .k-scheduler-table td {
  background: white;
}
.k-scheduler-timelineview tr:nth-child(2) .k-scheduler-content .k-scheduler-table tr:hover td {
  background-color: #eaeaea;
}
.k-scheduler-timelineview tr:nth-child(2) .k-scheduler-content .k-scheduler-table .k-today {
  width: 2px !important;
}
.k-scheduler-timelineview th.active {
  background-color: greenyellow;
}
/*.k-scheduler-times {
    tr {
        height: 24px !important;
    }
}*/
.event-box {
  height: 75%;
  border: 1px solid black !important;
}
.event-box.orange {
  background-color: #f68324;
}
.event-box.blue {
  background-color: #417bad;
}
.event-box.violet {
  background-color: #725792;
}
.event-box.red-border {
  border: 2px solid red !important;
}
/*.k-header {
    display: none;
}*/
/*.k-scheduler-header.k-state-default {
    .k-scheduler-header-wrap {
        .k-scheduler-table {
            tr {
                th {
                    width: 36px;
                }
            }
        }
    }
}*/
/*# sourceMappingURL=calendar.css.map */